
node_modules/
dist/
.env
*.local
bot/sessions/
server/dist/
admin/dist/
uploads/
server_uploads/
*.zip

/server/sessions/
/bot/bot_sessions/
/server/sessions/*
/bot/bot_sessions/*
*.log
npm-install.log
npm-ci.log
build.log
dev.log
start.log
audit.json
pnpm-store
